{% extends 'base.html.twig' %}

{% block content %}
    <div id="seller">
    {%- if invoice.seller.logo is not empty %}
        <img src="{{ invoice.seller.logo }}" alt="" style="margin-left: 0px; height:50px;">
    {%- endif %}
        <p>{{- invoice.seller.name }}</p>
        {%- for item in invoice.seller.address %}
            {{- item }}<br>
        {%- endfor %}
    </div>

    <div id="invoice" style="margin-left: 350px;">
        <dl>
            <dd>{{ invoice.number }}</dd>

            <dd>{{ invoice.createdAt|date('F j, Y') }}</dd>
        </dl>

        <dl class="invoice-total">
            <dd>${{ invoice.total.amount }} USD</dd>
            <dt>Amount Paid</dt>
        </dl>
    </div>

    {%- if invoice.buyer is not empty %}
    <div id="buyer">
        <p><strong>CUSTOMER:</strong></p>
        <p>{{- invoice.buyer.name }}<br>
        {%- for item in invoice.buyer.address %}
        {{- item }}<br>
        {%- endfor %}
        </p>
    </div>
    {%- endif %}

    {% include '_entry_list.html.twig' %}

    <hr>

    <div id="invoice-total">
        <dl>
            <dt><strong>Subtotal</strong></dt>
            <dd><strong>${{ invoice.total.netto }}</strong></dd>

        {%- for tax, value in invoice.total.taxes %}
            <dt>{{ tax|default('TVA 0%') }}</dt>
            <dd>{{ value|default(0) }}%</dd>
        {%- else %}
            <dt>TVA 0%</dt>%
            <dd>0</dd>
        {%- endfor %}
        </dl>

        <dl>
            <dt><strong>Total</strong></dt>
            <dd><strong>${{ invoice.total.brutto }}</strong></dd>

        {%- if invoice.coupon is not empty %}
            <dt>Coupon used</dt>
            <dd>{{ invoice.coupon.name }} (-{{ invoice.coupon.value }})</dd>
        {%- endif %}

        </dl>

        <dl class="invoice-total">
            <dt>Amount Paid</dt>
            <dd>${{ invoice.total.brutto }} USD</dd>
        </dl>
    </div>

    <div id="terms"><br><br><br>
        <strong>Thank you for using Snitcher.com.<br>Any questions about this invoice? Contact us at support@snitcher.com or using +31 20 261 5475</strong>
    </div>
{% endblock %}